body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a3b18a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-name {
  margin-bottom: 20px;
}

.title {
  color: #283618;
}

.input {
  border: solid #3a5a40 3px;
  padding: 3%;
  border-radius: 8%;
}

.button {
  border-radius: 5px;
  padding: 3%;
  width: 40%;
  border: solid #3a5a40 1px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  background-color: #588157;
}

.nav {
  margin: 15px;
  color: white;
}

.search {
  text-decoration: none;
}

.fav {
  text-decoration: none;
}

.profile {
  text-decoration: none;
}

.name {
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}