body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a3b18a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-name {
  margin-bottom: 20px;
}

.input-artist {
  
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0.5px #3a5a40 solid;
  background: #b0c4b1;
  appearance: none;
  width: 40%;
  position: relative;
  border-radius: 3px;
  padding: 2%;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  transition: all .2s ease;
  margin-right: 10px;
}

.form-artist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.button-artist {
  background: #b0c4b1;
  border-radius: 5px;
  padding: 1%;
  width: 20%;
  border: solid #3a5a40 1px;
  font-family: 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.title {
  color: #283618;
}

.input {
  border: solid #3a5a40 3px;
  padding: 3%;
  border-radius: 8%;
}

.button {
  border-radius: 5px;
  padding: 3%;
  width: 40%;
  border: solid #3a5a40 1px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  background-color: #588157;
}

.nav {
  margin: 15px;
  color: white;
}

.search {
  text-decoration: none;
}

.fav {
  text-decoration: none;
}

.profile {
  text-decoration: none;
}

.name {
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.listAlbuns {
  list-style: none;
  margin: 20px;
  background-color: #52796f;
  border-radius: 5%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2f3e46;
  padding: 1%;
}

.nameAlbuns {
  text-decoration: none;
  color: white;
}

.imgAlbuns {
  width: 160px;
  padding: 1%;
  border-radius: 10%;
  border: 1px solid black;
  text-align: center;
}

.mapAlbuns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nameTargetAlbuns {
  text-align: center;
  padding: 5%;
}

.h2Albuns {
  color: white;
  text-align: center;
}

.h2notFound {
  color: white;
  text-align: center;
}

.listMusics {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.h4Artist {
  color: white;
  margin: 3%;
  text-align: center;
}

.h4Album {
  color: white;
  margin: 3%;
  text-align: center;
}

.h3Album {
  text-align: center;
  color: white;
}

.nameAlbum {
  text-align: center;
  padding: 3%;
  width: 80%;
}

.audio {
  margin: 10px;
}

.targetAudio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
}